.zihatu{
    font-size: 270%;
    text-align: center;
    font-weight: bold;
    text-shadow: 8px 3px 4px silver;
    color: rgb(0, 132, 255);
}

.zihatuS{
    font-size: 20px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.hiniti{
  font-style: italic;
    text-align: center;
    color: rgb(233, 94, 94);
    font-size:250%
  }

  .yarukoto{
    font-size: 200%;
    font-weight: bold;
    text-shadow: 8px 3px 4px silver;
  }
  
  .yarukotoS{
    text-align: left;

  }

.Zkaisai{
  font-weight: bold;
  font-size:200%
  
}




  .sukura img{
    width: 30%;
    height: 30%;
  }

  .micro img{
    width: 20%;
    height: 30%;
    text-align: center;
  }

  .mine img{
    width: 20%;
    height: 30%;
  }

  .kaisai{
    font-size: 150%;
  }

  .sannkaB{
    font-size: 150%;
   font-family: さわらび明朝;
   text-align: center;
    font-weight: bold;
    color: rgb(0, 240, 200);
    background-color: darkcyan;
    border-top: solid 3 black;
border-bottom: solid 3 black;
text-shadow: 8px 3px 4px black;
transition: color .4s, text-decoration .8s;

  }
  button:hover {
    color: #2bff00;
    text-decoration: inherit;
  }

  .tomo{
    font-size: 400%;
  }


  .kakoB{
    font-size: 150%;
   font-family: さわらび明朝;
   text-align: right;
    font-weight: bold;
    color: rgb(0, 240, 200);
    background-color: darkcyan;
    border-top: solid 3 black;
border-bottom: solid 3 black;
text-shadow: 8px 3px 4px black;
transition: color .4s, text-decoration .8s;

  }
  kakoB:hover {
    color: #c7ff5e;
    text-decoration: inherit;
  }